*{
    box-sizing: border-box;
    margin:0;
}

:root{
    --padding:2em;
    --sideboard: #76ABAE;
    --content:#EEEEEE;
    --uppermenu:#31363F

}

.container {
    min-height: 100vh;
    display:grid;
    grid-template-columns: auto 4fr;
    grid-template-rows:auto 1fr;
    grid-template-areas:"sideboard uppermenu"
                        "sideboard content-area";
}

.sideboard{
    grid-area: sideboard;
    background-color: var(--sideboard);
    color:white;
    display:flex;
    flex-direction: column;
    padding: var(--padding);
    gap:2em;
}


.sideboard img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

#corteva-logo {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}



.logo {
    display:flex;
    justify-content: left;
    gap:1em;
}

.logo > img {
    width:3em;
    aspect-ratio: 1/1;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.options {
    display:grid;
    grid-template-columns: auto 1fr;
    gap:1em;
}


.options img {
    width:2em;
    aspect-ratio: 1/1;
}

.options p {
    align-self: center;
    font-weight: bold;
    font-size: 1.2em;
}

.settings {
    display:grid;
    grid-template-columns: auto 1fr;
    gap:1em;
}

.settings img {
    width:2em;
    aspect-ratio: 1/1;
}

.settings p {
    align-self: center;
    font-weight: bold;
    font-size: 1.2em;
}


.logo > h1 {
    align-self: center;
}

.uppermenu{
    grid-area: uppermenu;
    background-color: var(--uppermenu);
    color: var(--content)

}

.content{
    grid-area: content-area;
    background-color: var(--content);
    
}